@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700&display=swap');
:root {
    font-size: 20px;
    box-sizing: border-box;
}

.container-fluid {
    background: linear-gradient(90deg, rgb(3, 11, 117), rgb(143, 12, 110), rgb(173, 6, 6));
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

#overlay {
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    overflow: hidden;
}

.calc-body {
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.185);
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#screen {
    width: 95%;
    margin-top: 2.5%;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 2px 2px 8px 0px #000, inset -2px -2px 8px 0px #000;
    height: 80px;
    color: black;
    display: flex;
    align-items: center;
}

#display {
    font-size: 2rem;
    padding: 0px 10px;
    width: 98%;
    max-width: 100%;
    font-family: 'Roboto Slab', serif;
    text-align: right;
    background: transparent;
    border: none;
    border-radius: 10px;
}

#buttons-container {
    width: 91%;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.button {
    font-size: 1rem;
    border-radius: 10px;
    background-color: #eee;
    text-align: center;
    font-weight: 500;
    font-family: 'Recursive', sans-serif;
    border: none;
    transition: ease-in .3s;
}

#clear {
    background-color: orangered;
    color: #eee;
}

.operator {
    background-color: lightseagreen;
    color: #eee;
}

#equal {
    grid-row: 4/6;
    grid-column: 4/5;
    background-color: mediumseagreen;
    color: #eee;
    height: 100%;
}

@media not all and (pointer: coarse) {
    .button:hover {
        background-color: #333;
        color: #eee;
        border: none;
        box-shadow: 1px 1px 15px #eee, -1px -1px 15px #eee;
    }
    #clear:hover {
        background-color: #eee;
        color: orangered;
        border: none;
        box-shadow: 1px 1px 15px orangered, -1px -1px 15px orangered;
    }
    .operator:hover {
        background-color: #eee !important;
        color: lightseagreen !important;
        border: none !important;
        box-shadow: 1px 1px 15px lightseagreen, -1px -1px 15px lightseagreen !important;
    }
    #equal:hover {
        background-color: #eee;
        color: mediumseagreen;
        border: none;
        box-shadow: 1px 1px 15px mediumseagreen, -1px -1px 15px mediumseagreen;
    }
}

.button:active {
    background-color: #eee;
}

#clear:active {
    background-color: orangered;
    color: #eee;
}

.operator:active {
    background-color: lightseagreen !important;
    color: #eee !important;
}

#equal:active {
    background-color: mediumseagreen;
    color: #eee;
}

.button:focus,
#clear:focus,
.operator:focus,
#equal:focus {
    outline: 0;
}